@media only screen and (max-width: 600px) {

  /* hero-section */
  #hero-section {
    padding-left: 35px;
    padding-right: 35px;
  }

  #hero-section h1 {
    font-size: 50px;
  }

  #hero-section h2 {
    font-size: 21px;
  }

  .search-box input {
    width: 85%;
    padding-left: 10px;
    font-size: 16px;
    padding: 13px;
  }

  .search-box #input-btn {
    width: 25%;
    padding: 10px;
  }

  /* html CSS section */
  .html,
  .css,
  .js {
    flex-direction: column;
    justify-content: center;
    padding: 8% 5%;
  }

  .example {
    display: none;
  }

  /* card 3 */
  .card-3 {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-content: end;
    gap: 3% 0;
    padding: 70% 30px 10% 30px;
  }

  /* card 2 */
  .card-2 {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 0;
    padding: 5px 0;
  }

  .card-2 .card-item2 {
    width: 68%;
  }

  .card-2 :first-child {
    margin-top: 20px;
  }

  .second-card-2 :nth-child(4) {
    margin-bottom: 50px;
  }


  /* card 3 */
  .card-1 {
    grid-template-columns: repeat(1, 1fr);
    padding: 0px 15px;
    gap: 10px;
  }

  .card-1 .card-item1 {
    width: 100%;
  }

  /* signup / signin */

  .card-title {
    font-size: 60px;
    text-align: center;
  }

  .hide-small {
    display: none;
  }

  .card-para {
    font-size: 18px;
  }

  /* code-editor */
  #f-editor-btn,
  #b-editor-btn {
    font-size: 15px;
    width: 100%;
  }

  /* w3s spaces */
  .w3s-spaces .card-para {
    padding: 5px;
  }

  /* for teachers */
  .for-teachers {
    flex-direction: column;
    padding: 70px 15px 70px 15px;
  }

  .left-content {
    font-size: 18px;
  }

  .teachers-img {
    padding: 0;
  }

  /* color picker */
  .color-picker .card-title {
    font-size: 53px;
  }

  /* web templates */
  .browse-btn {
    width: 100%;
  }

  /* career */
  #w3_cert_arrow_default {
    display: none;
  }

  #career button {
    width: 100%;
    margin: 0;
  }

  #career h1 {
    font-size: 55px;
  }

  #career p {
    font-size: 40px;
  }

  #career {
    margin-bottom: 10px;
    padding: 10px 60px 50px 60px;
  }

  #w3_cert_badge_default {
    top: -35px;
    right: 16%;
    width: 100px;
  }

  /* how to section */
  .editor p {
    margin-left: 2px;
    font-size: 14px;
  }

  .dots {
    height: 12px;
    width: 12px;
  }

  .text {
    bottom: 10px;
  }

  .how-to-btn {
    width: 82%;
  }
}

@media only screen and (min-width:768px) and (max-width: 800px) {
  #career {
    padding: 20px 60px 50px 60px;
  }

  #w3_cert_arrow_default {
    display: none;
  }
}

@media only screen and (min-width:601px) and (max-width: 998px) {

  /* hero section */
  #hero-section h1 {
    font-size: 60px;
  }

  .search-box input {
    width: 50%;
    font-weight: 500;
    padding: 12px 10px;
    padding-left: 25px;
  }

  .search-box #input-btn {
    width: 12%;
    padding: 10px;
  }

  /* html CSS section */
  .html,
  .css,
  .js {
    flex-direction: column;
    padding-left: 2%;
    padding-right: 2%;

  }

  .example {
    width: 100%;
    margin-top: 30px;
  }

  .content {
    width: 100%;
  }

  /* card 3 */
  .card-3 {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    padding: 40px 20px;
    align-items: center;
  }

  .card-3 .card-item {
    max-width: 750px;
    width: 88%;
  }

  /* card 2 */
  .card-2 {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 0;
    padding: 0;

  }

  .card-2 .card-item2 {
    width: 83%;
    max-width: 750px;
  }

  /* card 1 */
  .card-1 {
    grid-template-columns: repeat(2, 1fr);
    padding: 40px 20px;
    gap: 30px;
  }

  .card-1 .card-item1 {
    width: 100%;
  }

  /* signin / signup */
  #sign-up .card-para {
    margin: 0px;
    padding: 20px;
  }

  .second-card-2 :nth-child(4) {
    margin-bottom: 50px;
  }

  /* for teachers */
  .for-teachers {
    flex-direction: column;
  }

  /* career */
  #w3_cert_arrow_default {
    right: 100px;
    bottom: -10px;
  }

  #w3_cert_badge_default {
    width: 150px;
    right: 8%;
    bottom: -40px;
  }

  /* footer */
  footer {
    max-width: 1100px;
  }
}

/* footer */

@media screen and (max-width: 1450px) {
  .footerlinks {
    padding-left: 30px;
    padding-right: 30px;
  }

  .footerlinks2 {
    padding-left: 60px;
    padding-right: 40px;
  }

  .f-footer p {
    padding: 0;
  }
}

/* footer */

@media screen and (max-width: 1100px) {
  .footerlinks {
    padding-left: 20px;
    padding-right: 20px;
  }

  .footerlinks2 {
    padding-right: 20px;
  }

  footer {
    max-width: 1000px;
  }
}

/* footer */

@media screen and (max-width: 1021px) {
  .links {
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
  }

  .footerlinks {
    margin: auto;
    text-align: center;
    padding: 12px 20px;

  }

  .footerlinks:nth-child(1) {
    padding: 0;
  }

  .footerlinks a {
    font-size: 20px;
    font-weight: 600;
  }

  .footerlinks2 {
    display: block;
    text-align: center;
    margin: auto;
  }

  .footerlinks2 {
    padding: 10px 20px;
  }

  .footerlinks2 h5 {
    font-size: 26px;
    margin-top: 40px;
  }

  .f-footer p {
    padding: 0;
  }
}


@media (min-width: 993px) {
  .w3-hide-large {
    display: none !important;
  }
}