@media only screen and (max-width: 600px) {

  /* hero-section */
  #hero-section {
    padding-left: 35px;
    padding-right: 35px;
  }

  #hero-section h1 {
    font-size: 50px;
  }

  #hero-section h2 {
    font-size: 21px;
  }

  .search-box input {
    width: 85%;
    padding-left: 10px;
    font-size: 16px;
    padding: 13px;
  }

  .search-box #input-btn {
    width: 25%;
    padding: 10px;
  }

  /* html CSS section */
  .html,
  .css,
  .js {
    flex-direction: column;
    justify-content: center;
    padding: 8% 5%;
  }

  .example {
    display: none;
  }

  /* card 3 */
  .card-3 {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-content: end;
    gap: 3% 0;
    padding: 70% 30px 10% 30px;
  }

  /* card 2 */
  .card-2 {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 0;
    padding: 5px 0;
  }

  .card-2 .card-item2 {
    width: 68%;
  }

  .card-2 :first-child {
    margin-top: 20px;
  }

  .second-card-2 :nth-child(4) {
    margin-bottom: 50px;
  }


  /* card 3 */
  .card-1 {
    grid-template-columns: repeat(1, 1fr);
    padding: 0px 15px;
    gap: 10px;
  }

  .card-1 .card-item1 {
    width: 100%;
  }

  /* signup / signin */

  #sign-up .card-title {
    font-size: 60px;
    text-align: center;
  }

  .hide-small {
    display: none;
  }
}

@media only screen and (min-width:601px) and (max-width: 993px) {

  /* hero section */
  #hero-section h1 {
    font-size: 60px;
  }

  .search-box input {
    width: 50%;
    font-weight: 500;
    padding: 12px 10px;
    padding-left: 25px;
  }

  .search-box #input-btn {
    width: 12%;
    padding: 10px;
  }

  /* html CSS section */
  .html,
  .css,
  .js {
    flex-direction: column;
    padding-left: 2%;
    padding-right: 2%;

  }

  .example {
    width: 100%;
    margin-top: 30px;
  }

  .content {
    width: 100%;
  }

  /* card 3 */
  .card-3 {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    padding: 40px 20px;
    align-items: center;
  }

  .card-3 .card-item {
    max-width: 750px;
    width: 88%;
  }

  /* card 2 */
  .card-2 {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 0;
    padding: 0;

  }

  .card-2 .card-item2 {
    width: 83%;
    max-width: 750px;
  }

  /* card 1 */
  .card-1 {
    grid-template-columns: repeat(2, 1fr);
    padding: 40px 20px;
    gap: 30px;
  }

  .card-1 .card-item1 {
    width: 100%;
  }

  /* signin / signup */
  #sign-up .card-para {
    margin: 0px;
    padding: 20px;
  }

  .second-card-2 :nth-child(4) {
    margin-bottom: 50px;
  }
}