body {
  margin: 0;
  font-family: serif;
  background-color: #fff;
}

.navbar {
  list-style: none;
  font-size: 18px;
  /* font-style: italic; */
}

#hero-section {
  color: white;
}

#hero-section h1 {
  font-size: 50px;
}

#hero-section h2 {
  color: bisque;
}

#sign-up {
  /*top and bottom | left and right */
  padding: 20px 18px;
  /* border: 2px solid black; */
  text-align: center;
}

#sign-up h1 {
  font-size: 50px;
  font-weight: bolder;
}

#sign-up h3 {
  font-weight: 500;
  font-family: serif;
}


#sign-up-btn {
  text-transform: capitalize;
  height: 3em;
  width: 16em;
  padding: 18px 0px;
  border-radius: 40px;
  border: none;
  font-weight: bold;
  font-size: 18px;
  color: white;
  background-color: #04AA6D;

}

#sign-up-btn:hover {
  background-color: #059862;
  cursor: pointer;
}

#code-editor {
  color: white;
  padding: 10px;
}

.text-center {
  text-align: center;
}

#code-editor img {
  padding: 20px 0px;
}

.editor-btn {
  /* border: 2px solid violet; */
  padding-left: 35ch;
}

#f-editor-btn {
  height: 2.5em;
  width: 18em;
  font-size: 17px;
  border-radius: 5px;
  background-color: #04AA6D;
  color: #fff;
  text-transform: capitalize;
  font-weight: 600;
}

#b-editor-btn {
  height: 2.5em;
  width: 22em;
  border-radius: 5px;
  font-size: 17px;
  background-color: #FFF4A3;
  color: #000;
  text-transform: capitalize;
  font-weight: 600;
}

#f-editor-btn:hover {
  background-color: #059862;
  cursor: pointer;
}

#b-editor-btn:hover {
  background-color: #fff080;
  cursor: pointer;
}

footer {
  color: white;
  border: 2px solid black;
  /*this is a shorthand property for border width,style and color properties*/
  /* padding: 10px; */
  font-size: 14px;
}

#code-editor,
#hero-section,
footer {
  background-color: #282A35 !important;
}

footer p {
  /* background-color: #444; */
  /*descendent selector  */
  margin: 100px;
  /* border: 2px solid black; */
}

.html,
#sign-up {
  background-color: #D9eee1;
}

.html {
  /* border: 2px solid black; */
  padding: 40px;
}

.content {
  /* border: 2px solid black; */
  display: inline-block;
  margin-right: 120px;
  /* width: fit-content; */
  /* padding: 20px; */
}

.content h1 {
  font-size: 65px;
  text-transform: uppercase;

}

.content p {
  /* border: 2px solid black; */
  /* width: fit-content; */
  font-size: 20px;
  font-weight: bold;
}

.lang-list {
  list-style: none;
}

.lang-list li {
  color: white;
  text-transform: capitalize;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 16px;
  padding: 12px 0px;
  width: 200px;
  margin: 20px 0px;
  border-radius: 50px;
  /* border: 2px solid black; */
}

/* pseudo classes */
.lang-list li:first-child {
  background-color: #04AA6D;
}

.lang-list li:first-child:hover {
  background-color: #059862;
  cursor: pointer;
}

.lang-list li:nth-child(2) {
  background-color: #FFF4A3;
  color: #000;
}

.lang-list li:nth-child(2):hover {
  background-color: #fff080;
  cursor: pointer;
}

.lang-list li:nth-child(3) {
  background-color: #282A35;
}

.lang-list li:nth-child(3):hover {
  background-color: #000;
  cursor: pointer;
}

.lang-list li:last-child {
  background-color: #FFC0C7 !important;
  color: #000;
}

.lang-list li:last-child:hover {
  background-color: #ffb3bb !important;
  cursor: pointer;
}

aside {
  display: inline-block;
  text-align: left;
  width: 400px;
  margin-right: -80px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 5.5px 1px #888888;
  /* box-shadow: h-offset v-offset blur-radius spread-radius shadow-color |inset|initial|inherit; */

}

.code {
  background-color: white;
  /* border: 2px solid black; */
  text-align: left;
  margin: 10px;
}

.code pre {
  line-height: 25px;
  border-left: 4px solid #04AA6D;
  padding: 8px;
  text-align: left;
}

.grey-border {
  background-color: #E7E9EB;
}

.green-btn {
  background-color: #04AA6D;
  border: none;
  color: white;
  text-transform: capitalize;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 16px;
  padding: 12px 0px;
  width: 200px;
  margin: 10px 0px;
  border-radius: 50px;
}

.green-btn:hover {
  background-color: #059862;
  cursor: pointer;
}

.css {
  background-color: #FFF4A3 !important;
  padding: 40px;
}

/* pseudo classes */
.lang-list li:first-child {
  background-color: #04AA6D;
}

.css .lang-list li:nth-child(2) {
  background-color: #282A35;
  color: #fff;
}