* {
  margin: 0;
  padding: 0;
}

/* centering a page trail code */
/* .container {
  width: 700px;
  margin: 0 auto;
} */

body {
  font-family: serif;
  background-color: #fff;
  /* position: relative; */
}

.menu {
  background-color: #fff;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 15px;
  /* line-height: 50px; */
  text-transform: capitalize;
  display: inline-block;
}

.menu li:hover {
  background-color: #04AA6D;
}

.sign-in-btn {
  background-color: #04AA6D;
  border: none;
  color: white;
  text-transform: capitalize;
  font-weight: 700;
  font-family: sans-serif;
  font-size: 16px;
  padding: 10px;
  width: 100px;
  /* margin: 10px 0; */
  border-radius: 10px;
}

.search-input {
  border-radius: 50px;
  padding: 10px;
  width: 22vh;
  border: 1px solid gray;
  font-size: 14px;
}

.sign-in-btn:hover {
  background-color: #059862;
  cursor: pointer;
}

.navbar {
  list-style: none;
  font-size: 18px;
  /* font-style: italic; */
  /* background-color: transparent; */
  background-color: #282A35 !important;
}

.navbar li {
  display: inline-block;
  margin: 0;
  /* background-color: #059862; */
  color: #fff;
  /* width: auto; */
  font-size: 15px;
  padding: 8px 15px;
}

.navbar li:hover {
  background-color: #000;
}

#hero-section {
  color: white;
  padding: 80px;
}

#hero-section h1 {
  font-size: 70px;
  /* background-color: #04AA6D; */
  /* position: relative; */
}

/* before and after pseudo elements */

/* The ::after pseudo-element is used to insert some content after the content of a specified element */

/* #hero-section h1::after {
  content: "made by aasawari";
  padding: 2px 5px;
  font-size: 16px;
  background-color: yellow;
  color: #000;
  display: inline-block;
  position: absolute;
  bottom: 0px;
} */

/* The ::before pseudo-element is used to insert some content before the content of a specified element. */

/* #hero-section h1::before {
  content: "aasawari mandhare";
  padding: 2px 5px;
  font-size: 16px;
  background-color: rgb(255, 42, 0);
  color: #000;
  display: inline-block;
  position: absolute;
  top: -10px;
} */

#hero-section h2 {
  color: #FFF4A3;
  margin: 20px;
  padding-bottom: 20px;
}

#hero-section input {
  width: 30%;
  padding: 10px;
  padding-left: 25px;
  background-color: white;
  border: 1px solid #282A35;
  border-right: 1px solid #04AA6D;
  font-size: 17px;
  border-radius: 25px;
}

#hero-section h4 {
  padding-top: 40px;
  text-transform: capitalize;
  color: white;
  font-weight: bold;
  font-size: 23px;
  text-decoration: underline;
  cursor: pointer;
}

#hero-section h4:hover {
  color: #FFF4A3;
}

#sign-up {
  /*top and bottom | left and right */
  padding: 25px 18px;
  /* border: 2px solid black; */
  text-align: center;
}

#sign-up p {
  font-weight: normal;
  font-family: serif;
  margin-top: 30px;
  padding: auto;
  /* border: 2px solid black; */
}

#code-editor {
  color: white;
  padding: 50px;
}

.text-center {
  text-align: center;
}

#code-editor img {
  padding: 20px 0;
}

.editor-btn {
  /* border: 2px solid violet; */
  padding-left: 35ch;
}

#f-editor-btn {
  height: 2.5em;
  width: 18em;
  font-size: 17px;
  border-radius: 5px;
  background-color: #04AA6D;
  color: #fff;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 20px;
}

#b-editor-btn {
  height: 2.5em;
  width: 22em;
  border-radius: 5px;
  font-size: 17px;
  background-color: #FFF4A3;
  color: #000;
  text-transform: capitalize;
  font-weight: 600;
}

#f-editor-btn:hover {
  background-color: #059862;
  cursor: pointer;
}

#b-editor-btn:hover {
  background-color: #fff080;
  cursor: pointer;
}

footer {
  color: white;
  border: 2px solid black;
  /*this is a shorthand property for border width,style and color properties*/
  /* padding: 10px; */
  font-size: 14px;
}

#code-editor,
#hero-section,
footer {
  background-color: #282A35;
}

footer p {
  /* background-color: #444; */
  /*descendent selector  */
  margin: 100px;
  /* border: 2px solid black; */
}

.html,
#sign-up {
  background-color: #D9eee1;
}

.html {
  /* border: 2px solid black; */
  padding: 40px;
}

.content {
  /* border: 2px solid black; */
  display: inline-block;
  margin-right: 120px;
  /* width: fit-content; */
  /* padding: 20px; */
}

.content h1 {
  font-size: 65px;
  text-transform: uppercase;

}

.content p {
  /* border: 2px solid black; */
  /* width: fit-content; */
  font-size: 20px;
  font-weight: bold;
}

.lang-list {
  list-style: none;
}

.lang-list li {
  color: white;
  text-transform: capitalize;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 16px;
  padding: 12px 0;
  width: 200px;
  margin: 20px 0;
  border-radius: 50px;
  /* border: 2px solid black; */
}

/* pseudo classes */
.lang-list li:first-child {
  background-color: #04AA6D;
}

.lang-list li:first-child:hover {
  background-color: #059862;
  cursor: pointer;
}

.lang-list li:nth-child(2) {
  background-color: #FFF4A3;
  color: #000;
}

.lang-list li:nth-child(2):hover {
  background-color: #fff080;
  cursor: pointer;
}

.lang-list li:nth-child(3) {
  background-color: #282A35;
}

.lang-list li:nth-child(3):hover {
  background-color: #000;
  cursor: pointer;
}

.lang-list li:last-child {
  background-color: #FFC0C7;
  color: #000;
}

.lang-list li:last-child:hover {
  background-color: #ffb3bb;
  cursor: pointer;
}

.highlight {
  text-transform: uppercase;
}

aside {
  display: inline-block;
  text-align: left;
  width: 400px;
  margin-right: -80px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 5.5px 1px #888888;
  /* box-shadow: h-offset v-offset blur-radius spread-radius shadow-color |inset|initial|inherit; */

}

.code {
  background-color: white;
  /* border: 2px solid black; */
  text-align: left;
  margin: 10px;
}

.code pre {
  line-height: 25px;
  border-left: 4px solid #04AA6D;
  padding: 8px;
  text-align: left;
}

.grey-border {
  background-color: #E7E9EB;
}

.green-btn {
  background-color: #04AA6D;
  border: none;
  color: white;
  text-transform: capitalize;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 16px;
  padding: 12px 0;
  width: 200px;
  margin: 10px 0;
  border-radius: 50px;
}

.green-btn:hover {
  background-color: #059862;
  cursor: pointer;
}

.css {
  background-color: #FFF4A3;
  padding: 40px;
}

/* pseudo classes */
.lang-list li:first-child {
  background-color: #04AA6D;
}

.css .lang-list li:nth-child(2) {
  background-color: #282A35;
  color: #fff;
}

.w3s-spaces {
  text-transform: capitalize;
  padding: 30px;
}

.w3s-spaces .card-para {
  margin: 0 440px;
  line-height: 40px;
}

.w3s-spaces a {
  color: #04AA6D;
  text-decoration: underline;
  cursor: pointer;
}

.w3s-spaces a:hover {
  color: #059862;
}

.w3s-spaces a:active {
  color: #000;
}

.color-picker {
  text-transform: capitalize;
  padding: 40px;
  background-color: #F3ECEA;
}

.card-title {
  font-size: 50px;
  padding: 10px;
}

.card-para {
  font-size: 20px;
  padding: 8px;
  font-weight: bold;
}

.card-img {
  padding: 20px;
}

.color-picker .card-img {
  /* margin: 20px; */
  height: 160px;
  /* border: 2px solid black; */
}

.color-picker img:hover {
  opacity: 0.5;
  cursor: pointer;
}

.web-temp {
  text-transform: capitalize;
  padding: 40px;
  background-color: #E7E9EB;
}

.browse-btn {
  width: 90vh;
  /* text-align: center; */
  padding: 18px 5px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  background-color: #282A35;
  text-transform: capitalize;
  border-radius: 25px;
  margin: 10px;
}

.browse-btn:hover {
  background-color: #000;
}

/* #like { */
/* font-size: 20px; */
/* padding: 10px; */
/* cursor: pointer; */
/* position: absolute; */
/* absolute positioning is used for simple elements like button and not for complex layouts */
/* by default this element is positioned in relation to view port */
/* to make it absolute as per the element and not view port we have to make that element relative and it should be the first parent element of this button */
/* bottom: 50px; */
/* right: 50px; */
/* } */


/* CSS LAYOUTS */
/* float */
.demo_img {
  float: left;
  /* mainly we can use left right or none */
  /* with this image will be taken out of document flow just like absoulte positioning element but the diff here is
  all other elements will float around it*/
  margin-right: 20px;
}

.demo_para {
  /* padding-left: 50px; */
  /* paragraph starts behind the image so need more padding */
  /* float: left; */
  clear: left;
  padding-top: 20px;
}

/* flexbox */
/* to use flexbox we have to  set display property to flex for any container element which have many child elements */
.container {
  background-color: #ddd;
  width: 300px;
  margin: 40px;
  display: flex;
  /* to align all the flex items vertically centered we use below property  */
  /* by defualt value is stretch (as tall as tallest element) for align items */
  align-items: center;
  /* align-items: flex-start; */
  /* align-items: flex-end; */

  /* to align items horizontally inside a container use justify-content */
  justify-content: center;
  justify-content: space-between;
  /* justify-content: space-evenly; */
}

.box1 {
  background-color: pink;
}

.box2 {
  background-color: green;
}

.box3 {
  background-color: blueviolet;
  height: 100px;
}

.box4 {
  background-color: orange;
}