body {
  margin: 0;
}

.navbar {
  list-style: none;
  font-size: 18px;
  font-family: sans-serif;
  /* font-style: italic; */
}

#hero-section {
  text-align: center;
  color: white;
  background-color: rgb(45, 45, 54);
}

#hero-section h1 {
  font-size: 50px;
}

#hero-section h2 {
  color: bisque;
}

#sign-up {
  /*top and bottom | left and right */
  padding: 20px 18px;
  /* border: 2px solid black; */
  background-color: #D9eee1;
  text-align: center;
}

#sign-up h1 {
  font-size: 50px;
  font-weight: bolder;
}

#sign-up h3 {
  font-weight: 500;
  font-family: serif;
}


#sign-up-btn {
  text-transform: capitalize;
  height: 3em;
  width: 16em;
  padding: 18px 0px;
  border-radius: 40px;
  border: none;
  font-weight: bold;
  font-size: 18px;
  color: white;
  background-color: #04AA6D;
}

#sign-up-btn:hover {
  background-color: #059862;
}

#code-editor {
  color: white;
  padding: 10px;
  background-color: #282A35;
}

.editor-text {
  text-align: center;
}

#code-editor img {
  padding: 20px 0px;
}

.editor-btn {
  /* border: 2px solid violet; */
  padding-left: 35ch;
}

#f-editor-btn {
  height: 2.5em;
  width: 18em;
  font-size: 17px;
  border-radius: 5px;
  background-color: #04AA6D;
  color: #fff;
  text-transform: capitalize;
  font-weight: 600;
}

#b-editor-btn {
  height: 2.5em;
  width: 22em;
  border-radius: 5px;
  font-size: 17px;
  background-color: #FFF4A3;
  color: #000;
  text-transform: capitalize;
  font-weight: 600;
}

#f-editor-btn:hover {
  background-color: #059862;
}

#b-editor-btn:hover {
  background-color: #fff080;
}