* {
  margin: 0;
  padding: 0;
}

/* centering a page trail code */
/* .container {
  width: 700px;
  margin: 0 auto;
} */

body {
  font-family: "Source Sans 3";
  background-color: #fff;
  /* position: relative; */
}

.menu {
  background-color: #fff;
  font-size: 16px;
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-caret-down {
  margin-left: 2px;
}

#logo {

  height: 36px;
  margin-left: 13px;
}

.left-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* height: 100%; */
  gap: 16px;
  /* background-color: #000; */
}

.left-menu a {
  text-transform: capitalize;
  color: #000;
  text-decoration: none;
  /* flex-grow: 1; */
  padding: 16px 7px;
  /* width: 100%; */
  /* height: 100%; */
}

.left-menu a:hover {
  background-color: #04AA6D;
  color: white;
}

.left-menu a:nth-child(1) {
  background-color: transparent;
}

.search-input {
  font-style: italic;
  border-radius: 50px;
  padding: 8px 12px;
  font-weight: 200px;
  background-image: url(/assets/images/search.png);
  background-position: center;
  background-position-x: 150px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  width: 21%;
  border: 1px solid rgba(0, 0, 0, 0.25) !important;
  font-size: 15px;
}

#dots-icon {
  border-radius: 50px;
  display: flex;
  align-items: center;
  height: 28px;
  width: 28px;
  padding: 0px 3.5px;
  box-sizing: border-box;
}

#dots-icon:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

#dots-icon:hover .tooltiptext {
  visibility: visible;
}


.tooltiptext {
  visibility: hidden;
  width: 90px;
  background-color: #282A35;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 4px 0;
  margin-left: 35px;
  position: absolute;
  /* z-index: 1; */
}

.right-menu {
  /* background-color: gray; */
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 30px;
}

.right-menu a {
  text-transform: capitalize;
  padding: 10px;
  color: #000;
  text-decoration: none;
}

.right-menu a img {
  color: #9763f6;
  margin-right: 8px;

}

.right-menu a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-menu a:hover {
  /* background-color: #04AA6D; */
  background-color: #eeeeee;
  border-radius: 50px;
}

.right-menu a:last-child {
  background-color: transparent;
}

.menu-prev,
.menu-next {
  /* position: fixed; */
}

.sign-in-btn {
  /* position: relative; */
  width: 95px;
  text-transform: capitalize;
  height: 40px;
  /* top: 50%; */
  /* margin-top: -20px; */
  background-color: #04AA6D;
  color: #fff;
  border-radius: 8px;
  font-size: 14px;
  line-height: 22px;
  border: none;
  margin-right: 10px;
  /* z-index: 4; */
  /* font-family: "Source Sans Pro", sans-serif; */
}


.sign-in-btn svg {
  /* border: 2px solid black; */
  display: inline-block;
  margin-right: 4px;
}

.sign-in-btn:hover {
  background-color: #059862;
  cursor: pointer;
}

.navbar {
  list-style: none;
  font-size: 18px;
  /* font-style: italic; */
  /* background-color: transparent; */
  background-color: #282A35 !important;
  white-space: nowrap;
  overflow: auto;
  scrollbar-width: none;
}

.navbar a {
  display: inline-block;
  margin: 0;
  text-align: center;
  /* background-color: #059862; */
  color: #fff;
  /* width: auto; */
  font-size: 15px;
  line-height: 1.5px;
  padding: 15px;
}

.navbar a:hover {
  background-color: #000;
}


#hero-section {
  color: white;
  padding: 80px;
}

#hero-section h1 {
  font-size: 70px;
  font-weight: 700;
  /* background-color: #04AA6D; */
  /* position: relative; */
}

/* before and after pseudo elements */

/* The ::after pseudo-element is used to insert some content after the content of a specified element */

/* #hero-section h1::after {
  content: "made by aasawari";
  padding: 2px 5px;
  font-size: 16px;
  background-color: yellow;
  color: #000;
  display: inline-block;
  position: absolute;
  bottom: 0px;
} */

/* The ::before pseudo-element is used to insert some content before the content of a specified element. */

/* #hero-section h1::before {
  content: "aasawari mandhare";
  padding: 2px 5px;
  font-size: 16px;
  background-color: rgb(255, 42, 0);
  color: #000;
  display: inline-block;
  position: absolute;
  top: -10px;
} */

#hero-section h2 {
  color: #FFF4A3;
  margin: 20px;
  padding-bottom: 10px;
}

/* #hero-section input {
  width: 30%;
  padding: 10px;
  padding-left: 25px;
  background-color: white;
  border: 1px solid #282A35;
  border-right: 1px solid #04AA6D;
  font-size: 17px;
  border-radius: 25px;
}

#input-btn {
  border-radius: 25px;
  width: 20%;
  padding: 10px;
  background: #04AA6D;
  color: white;
  font-size: 17px;
  border: 1px solid #282A35;
  border-left: none;
  cursor: pointer;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
} */

.search-box {
  display: flex;
  /* width: 40%; */
  padding: 10px 30%;
}

.search-box input {
  /* flex: 1; */
  padding: 10px;
  background-color: white;
  /* border: 1px solid #282A35; */
  font-size: 17px;
  border: none;
  width: 80%;
  padding-left: 25px;
  margin-left: 20px;
  font-family: inherit;
  font-weight: 600;
  border-right: 1px solid #04AA6D;
  border-radius: 25px 0 0 25px;
}

#input-btn {
  width: 20%;
  background: #04AA6D;
  color: white;
  border: none;
  margin-right: 20px;
  font-size: 17px;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
}

#input-btn:hover {
  background-color: #059862;
  color: white;
}

#hero-section h4 {
  padding-top: 25px;
  text-transform: capitalize;
  color: white;
  font-weight: bold;
  font-size: 23px;
  text-decoration: underline;
  cursor: pointer;
}

#hero-section h4:hover {
  color: #FFF4A3;
}

#sign-up {
  /*top and bottom | left and right */
  padding: 25px 18px;
  /* border: 2px solid black; */
  text-align: center;
}

#sign-up p {
  font-weight: normal;
  /* font-family: serif; */
  margin-top: 30px;
  padding: auto;
  /* border: 2px solid black; */
}

#code-editor {
  color: white;
  padding: 70px 3px 85px 3px;
}

#code-editor .h1 {
  margin: 2px 0 -20px 0;
}

.text-center {
  text-align: center;
}

#code-editor img {
  padding: 20px 0;
  width: 70%;
  height: auto;
}

.editor-btn {
  /* border: 2px solid violet; */
  padding-left: 15%;
}

#f-editor-btn {
  height: 2.5em;
  width: 18em;
  font-size: 17px;
  border-radius: 5px;
  background-color: #04AA6D;
  color: #fff;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 20px;
  border: none;
}

#b-editor-btn {
  height: 2.5em;
  width: 22em;
  border-radius: 5px;
  font-size: 17px;
  background-color: #FFF4A3;
  color: #000;
  text-transform: capitalize;
  font-weight: 600;
  border: none;
}

#f-editor-btn:hover {
  background-color: #059862;
  cursor: pointer;
}

#b-editor-btn:hover {
  background-color: #fff080;
  cursor: pointer;
}

footer {
  color: white;
  font-size: 14px;
}

.f-footer {
  padding: 40px 80px 20px 80px;
  max-width: 1500px;
  margin: auto;
  /* border: 2px solid black; */
}

.links {
  /* border: 2px solid black; */
  display: inline-flex;
  gap: 10px;
}

.footerlinks {

  padding: 40px 60px;
}

.footerlinks a {
  color: #FFF4A3;
  font-size: 15px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

.footerlinks a:hover {
  text-decoration: underline;
}

.footerlinks:nth-child(1) {
  padding: 30px 10px 30px 40px;
}

.footerlinks2 {
  display: inline-block;
  padding-left: 90px;
  padding-right: 135px;
  color: #ddd;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: capitalize;
}

.footerlinks2 h5 {
  margin: 10px 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
}

.footerlinks2 a {
  text-decoration: none;
  color: #ddd;
}

.footerlinks2 a:hover {
  color: #FFF4A3;
}

.f-footer .icons {
  /* border: 2px solid black; */
  color: #ddd;
  text-align: center;
  padding: 60px 40px 10px 40px;
}

.icons a {
  margin: 0px 10px;
  text-decoration: none;
  color: #ddd;
  font-weight: 600;
}

.icons a:hover {
  color: #FFF4A3;
}

footer p {
  /* border: 2px solid black; */
  color: #ddd;
  padding: 10px 370px;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  font-weight: 500;
}

footer h6 {
  font-size: 12px;
  font-weight: 400;
}

footer span {
  text-decoration: underline;
  cursor: pointer;
}

footer span:hover {
  color: #FFF4A3;
}

#code-editor,
#hero-section,
footer {
  background-color: #282A35;
  /* background-color: #04AA6D; */
}

.html,
#sign-up {
  background-color: #D9eee1;
}

.html {
  margin-top: -10px;
  /* border: 2px solid black; */
  padding: 40px;
}

.content {
  /* border: 2px solid black; */
  display: inline-block;
  margin-right: 120px;
  padding: 32px;
  /* width: fit-content; */
  /* padding: 20px; */
}

.content h1 {
  font-size: 100px;
  text-transform: uppercase;

}

.content p {
  /* border: 2px solid black; */
  /* width: fit-content; */
  font-size: 19px;
  font-weight: bold;
}

.lang-list {
  list-style: none;
}

.lang-list li {
  color: white;
  text-transform: capitalize;
  font-weight: bold;
  /* font-family: sans-serif; */
  font-size: 16px;
  padding: 12px 0;
  width: 200px;
  margin: 20px 0;
  border-radius: 50px;
  /* border: 2px solid black; */
}

/* pseudo classes */
.lang-list li:first-child {
  background-color: #04AA6D;
}

.lang-list li:first-child:hover {
  background-color: #059862;
  cursor: pointer;
}

.lang-list li:nth-child(2) {
  background-color: #FFF4A3;
  color: #000;
}

.lang-list li:nth-child(2):hover {
  background-color: #fff080;
  cursor: pointer;
}

.lang-list li:nth-child(3) {
  background-color: #282A35;
}

.lang-list li:nth-child(3):hover {
  background-color: #000;
  cursor: pointer;
}

.lang-list li:last-child {
  background-color: #FFC0C7;
  color: #000;
}

.lang-list li:last-child:hover {
  background-color: #ffb3bb;
  cursor: pointer;
}

.highlight {
  text-transform: uppercase;
}

aside {
  display: inline-block;
  text-align: left;
  width: 400px;
  margin-right: -80px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 5.5px 1px #888888;
  /* box-shadow: h-offset v-offset blur-radius spread-radius shadow-color |inset|initial|inherit; */

}

.code {
  background-color: white;
  /* border: 2px solid black; */
  text-align: left;
  margin: 10px;
}

.code pre {
  line-height: 25px;
  border-left: 4px solid #04AA6D;
  padding: 8px;
  text-align: left;
}

.grey-border {
  background-color: #E7E9EB;
}

.green-btn {
  background-color: #04AA6D;
  border: none;
  color: white;
  text-transform: capitalize;
  font-weight: 600;
  /* font-family: sans-serif; */
  font-size: 16px;
  padding: 11px 15px;
  width: 200px;
  margin: 10px 0px 50px 0px;
  border-radius: 25px;
}

.green-btn:hover {
  background-color: #059862;
  cursor: pointer;
}

.css {
  background-color: #FFF4A3;
  padding: 40px;
}

/* pseudo classes */
.lang-list li:first-child {
  background-color: #04AA6D;
}

.css .lang-list li:nth-child(2) {
  background-color: #282A35;
  color: #fff;
}

.w3s-spaces {
  text-transform: capitalize;
  padding: 30px;
}

.w3s-spaces .card-para {
  margin: 0 350px;
  font-size: 24px;
  font-weight: 400px;
  line-height: 40px;
}

.w3s-spaces a {
  color: #04AA6D;
  text-decoration: underline;
  cursor: pointer;
}

.w3s-spaces a:hover {
  color: #059862;
}

.w3s-spaces a:active {
  color: #000;
}

.color-picker {
  text-transform: capitalize;
  padding: 40px;
  background-color: #F3ECEA;
}

.card-title {
  font-size: 65px;
  font-weight: 700;
  padding: 10px;
}

.card-para {
  font-size: 20px;
  padding: 8px;
  font-weight: 500;
}

.card-img {
  padding: 20px;
}

.color-picker .card-img {
  /* margin: 20px; */
  height: 160px;
  /* border: 2px solid black; */
}

.color-picker img:hover {
  opacity: 0.5;
  cursor: pointer;
}

.web-temp {
  text-transform: capitalize;
  padding: 40px;
  background-color: #E7E9EB;
}

.browse-btn {
  width: 90vh;
  /* text-align: center; */
  padding: 18px 5px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  background-color: #282A35;
  text-transform: capitalize;
  border-radius: 25px;
  margin: 10px;
  margin-bottom: 60px;
}

.browse-btn:hover {
  background-color: #000;
}


/* for teachers */
.for-teachers {
  background-color: #282A35;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 80px 170px;
}

.for-teachers h4,
.for-teachers h5,
.for-teachers button {
  margin: 10px 0px 0px 100px;
  font-size: 20px;
}

.left-content h4 {
  margin-bottom: 40px;
}

.left-content h5 {
  font-weight: 500;
  /* display: block; */
}

.left-content i {
  margin-right: 10px;
}

.for-teachers button {
  margin-top: 50px;
}

#career {
  background-color: #282A35;
  color: #FFC0C7;
  padding: 30px 120px 30px 120px;
  padding-bottom: 100px;
  position: relative;

}

#career h1 {
  font-size: 62px;
  margin-top: 1em;
  margin-bottom: 1em;
}

#career p {
  font-size: 52px;
  margin-top: 1em;
  font-weight: 500;
  margin-bottom: 1em;
}

#career button {
  background-color: #059862;
  border-radius: 50px;
  padding: 17px 55px;
  font-size: 20px;
  color: white;
  margin: 16px;
  border: none;
}

#career button:hover {
  background-color: #04AA6D;
}

#w3_cert_arrow_default {
  position: absolute;
  right: 209px;
  width: 220px;
  transform: rotate(5deg);
  bottom: 0px;
  z-index: 1;
}

#w3_cert_badge_default {
  position: absolute;
  right: 230px;
  width: 220px;
  transform: rotate(10deg);
  bottom: -60px;
}

#how-to {
  text-align: center;
  background-color: white;
  margin: 100px 0px 200px 0px;
}

#how-to h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 10px 0;
}

#how-to h4 {
  font-weight: 400;
  font-size: 20px;
  margin: 10px 0;
}


#how-to h6 {
  margin-top: 19px;
  font-weight: 400;
  font-size: 16px;
  margin: 10px 0;
}

.slideshow {
  background: #f1f1f1;
  margin: 10px 300px;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 0px;
  position: absolute;
  bottom: 8px;
  width: 100%;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 15px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #717171;
}

.vblock {
  /* display: inline-block; */
  height: 80px;
  margin-top: -10px;
  position: absolute;
  left: 48.5%;
  /* border: 2px solid black; */
  border-left: 50px solid #282A35;
}

.how-to-btn {
  position: absolute;
  left: 38%;
  margin: auto;
  margin-top: 70px;
  text-transform: capitalize;
  border: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 25px;
  padding: 16px;
  color: white;
  background-color: #282A35;
  width: 25%;
}

.how-to-btn:hover {
  background-color: #04AA6D;
}

.editor {
  /* border: 2px solid red; */
  /* background: #f1f1f1; */
  padding: 10px;
  /* background-color: #fff; */
  color: black;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.editor p {
  text-align: start;
  display: inline-block;
  margin-left: 120px;
  width: 600px;
  background-color: white;
  padding-left: 10px;
}

.dots3 {

  align-self: center;
  /* border: 2px solid red; */
}

.dots {
  height: 18px;
  width: 18px;
  margin-top: 5px;
  display: inline-block;
  border-radius: 50%;
  margin-left: 3px;
}

#dot1 {
  background-color: #ED594A;
}

#dot2 {
  background-color: #FDD800;
}

#dot3 {
  background-color: #5AC05A;
}

/* ********************card 3****************************************** */
.card-3 {
  background-color: #282A35 !important;
  color: white;
  display: flex;
  align-items: flex-start;
  padding: 60px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card-item {
  color: #000;
  width: 38%;
  margin: 30px;
  padding: 3%;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.card-item:hover {
  opacity: 0.9;
}

.card-3 h1 {
  font-size: 45px;
  font-weight: 700;
  text-transform: capitalize;
}

.card-3 p {
  margin: 0;
  padding: 0;
  height: 70px;
  text-transform: capitalize;
  display: block;
}

.card-3 .card-btn {
  background-color: #282A35;
  color: white;
  text-transform: capitalize;
  font-size: 18px;
  margin: auto;
  display: block;
  border-radius: 25px;
  padding: 8px 16px;
  width: 200px;
  cursor: pointer;
}

.card-3 .card-btn:hover {
  background-color: #000;
}

#c1 {
  background-color: #FFC0C7;
}

#c2 {
  background-color: #FFF4A3;
}

#c3 {
  background-color: #F3ECEA;
}

#c4 {
  background-color: #96D4D4;
}

#c5 {
  background-color: #D9EEE1;
}

#c6 {
  background-color: #E7E9EB;
}

.card-2 {
  background-color: #282A35 !important;
  color: white;
  display: flex;
  align-items: flex-start;
  padding: 60px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card-item2 {
  color: #000;
  width: 38%;
  font-size: 14px;
  font-weight: 100;
  margin: 30px;
  padding: 3%;
  text-align: center;
  border-radius: 5px;
  text-transform: capitalize;
  cursor: pointer;
}

.card-item2:hover {
  opacity: 0.9;
}

#c21 {

  background-color: #FFC0C7;
}

#c22 {
  background-color: #FFF4A3;
}

#c23 {

  background-color: #96D4D4;
}

#c24 {
  background-color: #FFF4A3;
}

#c25 {

  background-color: #FFC0C7;
}

#c26 {
  background-color: #D9EEE1;
}


.card-1 {
  background-color: #282A35 !important;
  color: white;
  display: flex;
  align-items: flex-start;
  padding: 0px 60px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card-item1 {
  color: #000;
  width: 13%;
  font-size: 30px;
  font-weight: 500;
  margin: 25px;
  padding: 2%;
  text-align: center;
  border-radius: 5px;
  text-transform: capitalize;
  cursor: pointer;
}

.card-item1:hover {
  opacity: 0.9;
}

#c31 {

  background-color: #F3ECEA
}

#c32 {
  background-color: #D9EEE1;
}

#c33 {

  background-color: #96D4D4;
}

#c34 {
  background-color: #FFC0C7;
}


#c35 {
  background-color: #FFF4A3;
}

#c36 {
  background-color: #F3ECEA;
}

#c37 {
  background-color: #E7E9EB;
}

#c38 {
  background-color: #D9EEE1;
}

#c39 {
  background-color: #E7E9EB;
}

/* #like { */
/* font-size: 20px; */
/* padding: 10px; */
/* cursor: pointer; */
/* position: absolute; */
/* absolute positioning is used for simple elements like button and not for complex layouts */
/* by default this element is positioned in relation to view port */
/* to make it absolute as per the element and not view port we have to make that element relative and it should be the first parent element of this button */
/* bottom: 50px; */
/* right: 50px; */
/* } */


/* CSS LAYOUTS */
/* float */
.demo_img {
  float: left;
  /* mainly we can use left right or none */
  /* with this image will be taken out of document flow just like absoulte positioning element but the diff here is
  all other elements will float around it*/
  margin-right: 20px;
}

.demo_para {
  /* padding-left: 50px; */
  /* paragraph starts behind the image so need more padding */
  /* float: left; */
  clear: left;
  padding-top: 20px;
}

/* flexbox */
/* to use flexbox we have to  set display property to flex for any container element which have many child elements */
.container {
  background-color: #ddd;
  width: 300px;
  margin: 40px;
  display: flex;
  /* to align all the flex items vertically centered we use below property  */
  /* by defualt value is stretch (as tall as tallest element) for align items */
  align-items: center;
  /* align-items: flex-start; */
  /* align-items: flex-end; */

  /* to align items horizontally inside a container use justify-content */
  justify-content: flex-start;
  gap: 10px;
  /* justify-content: space-between; */
  /* justify-content: space-evenly; */
}

#box1 {
  background-color: pink;
  align-self: flex-end;
  order: -1;
  /* flex-grow: 0; */
  /* flex-shrink: 1px; */
  /* flex-basis: 200px; */
  /* flex: 1 1 100px; */
}

#box2 {
  background-color: green;
  order: 1;
}

#box3 {
  background-color: blueviolet;
  height: 100px;
}

#box4 {
  background-color: orange;
  order: 2;
}

.boxes {
  /* no need to add manually the margin between items if we have gap propery for flex container */
  /* margin-right: 10px; */
}

/* CSS GRID */

.container-1 {
  margin: 40px;
  background-color: #ddd;
  font-size: 40px;
  display: grid;
  /* to size columns = widths */
  /* grid-template-columns: 200px 150px 180px 150px; */
  /* as many widhts,that many columns created with respective widths */

  /* to create a grid where all 4 columns have the same width and ocuppy the remaining space (as we resize the screen size) we use fr unit */
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  /* 3 columns but all the same size i.e width */
  /* grid-template-columns: 1fr 1fr 1fr; */

  /* grid-template-columns: 2fr 1fr 1fr 1fr; */
  /* grid-template-columns: 3fr 1fr 1fr 1fr;   first col gets half of the width  */

  /* auto keyword */
  /* grid-template-columns: 1fr 1fr 1fr auto; */

  /* instead of writing 1fr 4 times for 4 columns like = grid-template-columns: 1fr 1fr 1fr 1fr; we write below function */
  /* grid-template-columns: repeat(4, 1fr);
 */

  /* implicit row and explicit  rows */
  /* this will create a extra row  which will be called as implicit row as automatically added bcz we run out of space in grid,
   we did specify sizes for 2 rows through grid-template-rows below*/
  grid-template-columns: repeat(4, 1fr);
  /* to size rows = heights*/
  /* grid-template-rows: 200px 300px; */

  /* sizing grid rows */

  grid-template-rows: 1fr 1fr;
  /* with this above 1fr 1fr,both the rows will take height as we defined for 3rd element i.e 140px i.e row track is defined by tallest element here */
  /* try by removing the 140px */
  /* now as element tailwind css height will be more compare to others,now all the elements will take its height */
  /* we can even manually give height for the container here and check */
  /* height: 500px; */
  /* try changing the fr units */
  /* grid-template-rows: 1fr 2fr; */
  /* grid-template-rows: 2fr 1fr; */
  /* grid-template-rows: auto 1fr; */
  /* auto takes only space element needs and other will try to fill the empty space inside the container*/


  /* to give gap between grid items */
  /* gap: 10px; */
  /* grid-gap: 10px; */
  column-gap: 20px;
  row-gap: 40px;

  /* place a certain grid item into another grid cell (that is not into its defualt one)*/
  /* placing element 8 sass on the place of css i.e element 2 , go to element 8*/
  /* same way element 3 in the place of 5 */


  /* TEMP for container-2 */
  display: none;
}

.d1 {
  background-color: pink;
}

.d2 {
  background-color: purple;
}

.d3 {
  background-color: red;
  height: 150px;
  /* entire row will have the same height as this */
}

.d4 {
  background-color: green;
}

.d5 {
  background-color: orange;
}

.d6 {
  background-color: blue;
}

.d7 {
  background-color: yellow;
}

.d8 {
  background-color: burlywood;
}

/* spanning ke liye */
.d3 {
  /* here item span across 3 cells from 2-3-4-5*/
  /* grid-column: 2 / 5; */
  /* grid-column: 2 / span 3; */
  /* 2 / span 3  = means start at 2 and span across 3 cells */
  /* grid-row: 2 / 3; */

  /* when we want one element to span all the way to the end then we use -1 */
  /* grid-column: 2 / -1; */
  /* why -1 check grid line numbers for this */
}

/* 
.d8 {
  grid-column: 2 / 3;
  grid-row: 1/2;
} */

/* spanning for rows i.e if we want to span an item using row number */
/* lets consider element 7  */
/* lets consider element 1 also check */
.d1 {
  /* grid-row: 1 / 5; */
  /* grid-row: 1 / span 5; */
  /* grid-row: 1 / -1; */
}

/* 

.d7 {
  grid-row: 3 / 6;
} */

.container-2 {
  background-color: #000;
  font-size: 40px;
  margin: 40px;

  /* container width and height */
  width: 700px;
  height: 600px;
  /* CSS GRID */
  display: grid;
  gap: 50px;
  grid-template-columns: 125px 200px 125px;
  grid-template-rows: 250px 100px;

  /* aliging both tracks inside the grid container and aligning grid items inside the track  */
  /* here in css grid we have end and start as values and not flex-start , flex-end (flexbox) */


  /*1. aliging grid tracks(rows and columns) inside grid container = distributing empty space*/
  /* possible bcz grid container is bigger than the grid itself (sum of widths of columns + gap ) */
  justify-content: center;
  /* justify-content: space-between; */
  align-content: center;

  /*2. aligning grid items inside the cells = moving items around inside the cells(cell here is the colored part)*/
  /* vertically = col axis */
  align-items: center;
  /* horizontally = row axis*/
  justify-items: center;
}

/* overwriting align-items and justify-items for single item on individual item */
.d3 {
  align-self: end;
  justify-self: end;
}