* {
  padding: 0;
  margin: 0;
}

nav ul {
  list-style-type: none;
}

header {
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 17px;
  text-transform: capitalize;
  width: 100%;
  min-width: 318px;
}

/* left navbar */
.left-navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}

.left-navbar .hoverlink:hover {
  background-color: #04AA6D;
  color: white;
}

.left-navbar .hoverlink .active {
  background-color: #04AA6D;
  color: white;
}


.left-navbar .hoverlink {
  padding: 15px 10px;
}

.left-navbar li:first-child {
  padding-left: 10px;
  background-color: transparent;
}

.left-navbar li:last-child {
  background-color: transparent;
}

#menu-list {
  display: none;
}

li img {
  height: 35px;
}

.fa-caret-down {
  margin-left: 3px;
}

.dots-menu {
  border-radius: 50px;
  height: 23px;
  width: 23px;
  margin-top: 5px;
  padding: 4px;
}

.tooltiptext {
  visibility: hidden;
  width: 90px;
  background-color: #282A35;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 4px 0;
  margin-left: 15px;
  position: absolute;
}

.see-more .dots-menu:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.see-more:hover .tooltiptext {
  visibility: visible;
}

.search-input {
  font-style: italic;
  border-radius: 50px;
  padding: 10px 8px;
  font-weight: 200;
  background-image: url(/assets/images/search.png);
  background-position: center;
  background-position-x: 160px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  border: 1px solid rgba(0, 0, 0, 0.25);
  font-size: 15px;
}

.search-img {
  width: 20px;
  height: 20px;
  display: none;
}

.sign-in-btn {
  width: 95px;
  text-transform: capitalize;
  height: 40px;
  background-color: #04AA6D;
  color: #fff;
  border-radius: 8px;
  font-size: 14px;
  line-height: 22px;
  border: none;
  margin-right: 10px;
}

/* right navbar */

.right-navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}

.right-navbar li {

  padding: 8px;
}

.right-navbar li:hover {
  background-color: #eeeeee;
  border-radius: 50px;
}

.right-navbar li:last-child {
  background-color: transparent;
}

.right-navbar .upgrade,
.right-navbar .get-certified {
  display: inline-flex;
}

.search-img,
#menu-list {
  display: none;
}

/* Responsive top navbar */

@media (max-width: 1240px) {
  .right-navbar .spaces {
    display: none;
  }
}

@media (max-width: 1160px) {
  .right-navbar .teachers {
    display: none;
  }
}

@media (max-width: 1080px) and (min-width: 961px) {
  .right-navbar .upgrade {
    display: none;
  }
}

@media (max-width: 1000px) and (min-width: 961px) {
  .right-navbar .get-certified {
    display: none;
  }
}

@media (max-width: 960px) and (min-width: 800px) {

  .right-navbar .upgrade,
  .right-navbar .get-certified {
    display: inline-flex;
  }

  .search-input {
    display: none;
  }

  .search-img {
    display: inline-flex;
  }
}

@media (max-width: 960px) {
  .right-navbar .upgrade {
    display: none;
  }
}

@media (max-width: 824px) {
  .right-navbar .get-certified {
    display: none;
  }
}

@media (max-width: 799px) {

  .right-navbar .upgrade,
  .right-navbar .get-certified {
    display: none;
  }

  .left-navbar .hoverlink {
    display: none;
  }

  #menu-list {
    display: inline-flex;
  }

  .left-navbar ul {
    gap: 20px;
  }
}

@media (max-width: 620px) {

  .dots-menu,
  .search-input {
    display: none;
  }

  .search-img {
    display: inline-flex;
  }
}